.LoadingBlog-container {
  width: 48%;
  height: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.LoadingBlog-text {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 2px;
  font-weight: 400;
}

.LoadingBlog-completeIcon,
.LoadingBlog-deleteIcon {
  border-radius: 50px;
  height: 48px;
  width: 48px;
}

.LoadingBlog-completeIcon {
  position: absolute;
  left: 8px;
  top: 12px;
}

.LoadingBlog-deleteIcon {
  position: absolute;
  top: -24px;
  right: 0;
}

.LoadingBlog-container,
.LoadingBlog-completeIcon,
.LoadingBlog-deleteIcon {
  background: linear-gradient(90deg, rgb(49, 49, 49), rgb(20, 19, 19));
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 768px) {
  .LoadingBlog-container {
    width: 48%;
  }
}

/* Para pantallas móviles (ancho menor a 768px) */
@media (max-width: 767px) {
  .LoadingBlog-container {
    width: 98%;
  }
}
